<h1><%= @review.title %></h1>

<div class="score">
    <%= @review.score %> out of 10
</div>

<div class="body">
    <%= simple_format @review.body %>
</div>

<div class="actions">
    <%= button_to "Delete this review", review_path(@review), method: :delete, onclick: "return confirm('Are you sure you want to delete the review forever?')" %>
</div>